<configuration>

    <property name="HOME_LOG" value="logs/app.log"/>
    <property name="REQUESTS_LOG" value="logs/requests.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="REQUESTS-FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${REQUESTS_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/requests.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.cisco.phoneapp.restapp.logging.MaskingPatternLayout">
                <maskPattern>\"password\"\s*:\s*\"(.*?)\"</maskPattern>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="com.cisco" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" additivity="false">
        <appender-ref ref="REQUESTS-FILE-ROLLING"/>
    </logger>

    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>